<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= blogPost.title %> - <%= website.title %></title>
  <meta name="description" content="<%= website.description %>">
  <meta property="og:title" content="<%= blogPost.title %>">
  <meta property="og:site_name" content="<%= website.title %>">
  <meta property="og:description" content="<%= website.description %>">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:image" content="<%= blogPost.thumbnailImageUrl %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= blogPost.title %> - <%= website.title %>">
  <meta name="twitter:description" content="<%= website.description %>">
  <meta name="twitter:site" content="@axross_">
  <meta name="twitter:image" content="<%= blogPost.thumbnailImageUrl %>">
</head>
<body>

</body>
</html>
